{%extends "modal_base.html"%}
{%block title%}SGCBIT|Eliminar equipo{%endblock title%}
{%block validar%}
<form role="form" class="row g-2" id="form" action="{{equipo.get_url_delete}}" method="post"> 
{%endblock validar%}

{%block titulo%}ELIMINAR EQUIPO{%endblock titulo%}

{%block contenido%}
	<p>¿Esta seguro de eliminar este equipo {{equipo}}?</p>
	{%csrf_token%}
	<input type="submit" value="Si eliminar">
{%endblock contenido%}

{%block pie%}{%endblock pie%}

{%block corte%}</form>{%endblock corte%}
