{%extends "index4.html"%}
{%block title%}SGCBIT|Planteles{%endblock title%}
{%load static%}
{%block content%}
{%if plantel%}
<h4 style="text-align: left;">Planteles</h4><br>
<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Nombre del circuito</th>
					<th>Director</th>
					<th>Código DEA</th>
					<th>Nivel academico</th>
					<th class="all">Opciones</th>
				</tr>
			</thead>
			<tbody>
				{%for planteles in plantel%}
				<tr>
					<td>{{planteles.nombre_circuito}}</td>
					<td>{{planteles.empleado}}</td>
					<td>{{planteles.codigo_DEA}}</td>
					<td>{{planteles.nivel_academico}}</td>
					<td>
						{%include "opciones_plantel.html"%}
					</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
		</div>
{%else%}
	<p class="col bg-warning">No se ha registrado ningun plantel aun</p>
	<p><a href="{%url 'add-plantel'%}" class="link">Has Click Aquí para agregar uno</a></p>
{%endif%}
{%endblock%}