{%extends "index4.html"%}
{%load static%}
{%block title%}SGCBIT|Empleados{%endblock title%}
{%block content%}
<h4 style="text-align: left;">Personal de los cbit</h4><br>
<div class="table-responsive">
<table class="table table-striped table-hover">
<thead>
	<tr>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Cédula</th>
		<th>Rol</th>
	</tr>
</thead>
<tbody>
{%for empleados in empleado%}
	<tr>
		<td>{{empleados.nombre}}</td>
		<td>{{empleados.apellido}}</td>
		<td>{{empleados.cedula}}</td>
		<td>{{empleados.rol}}</td>
		<td>
		{% include "opciones_empleado.html"%}
		</td>
	</tr>
{%empty%}
<div>
	<p class="col bg-warning">No se ha registrado ningun empleado aun</p>
	<p><a onclick="abrir_modal('{%url 'add-empleado'%}')" href="#" class="link">Has Click Aquí para agregar uno</a></p>
</div>

{%endfor%}
</tbody>
</table>
</div>
{%endblock content%}