{%load static%}
<div class="dropdown">
	<button class="btn btn-outline-info dropdown-toggle" type="button" id="menu" data-toggle="dropdown" aria-expanded="false">
		Opciones
	</button>

<div class="dropdown-menu" aria-labelledby="menu">

<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
	<a onclick="abrir_modal('{%url 'add-inasistencia'%}')" href="#" class="btn btn-warning btn-sm"><img src="{%static 'images/documento.png'%}" width="40" height="30" title="Agregar" class="img"></a>
					
	<a onclick="abrir_modal('{{inasistencias.get_url_update}}')" class="btn btn-primary btn-sm"><img src="{%static 'images/lapiz.png'%}" width="40" height="30" title="Modificar" class="img"></a>

	<a class="btn btn-danger btn-sm" onclick="abrir_modal('{{inasistencias.get_url_delete}}')" role="button"><img src="{%static 'images/eliminar.png'%}" width="40" height="30" title="Eliminar" class="img"></a>
</div>
</div>
</div>