{%load static%}
<script src="{%static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
<script src="{%static 'datepicker/bootstrap-datepicker.min.js'%}"></script>
<script src="{%static 'datepicker/bootstrap-datepicker.es.min.js'%}"></script>
<script src="{%static 'clockpicker/dist/bootstrap-clockpicker.js'%}"></script>
<script src="{%static 'clockpicker/dist/bootstrap-clockpicker.min.js'%}"></script>
<script src="{%static 'clockpicker/dist/jquery-clockpicker.js'%}"></script>
<script src="{%static 'clockpicker/dist/jquery-clockpicker.min.js'%}"></script>
<script src="{%static 'clockpicker/src/clockpicker.js'%}"></script>
